<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQLServerConnectionString" connectionString="Data Source=sql5027.site4now.net;Initial Catalog=DB_A37596_AMLLC;Integrated Security=SSPI;User ID=DB_A37596_AMLLC_admin;Password=Lambofgod6;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>


